* {
  box-sizing: border-box;
}
#allDiv{
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  color: red;
  /* border: solid; */
  padding:5px;
}

.col-md-3{
  /* order: 5; */
}
img{
  padding:5px;
  margin:15px;
}
p{
  /* padding: 10px; */
  margin:15px;
}

.animalClass,
#addAnimal,
#addGif,
#clear{
    margin:10px;
}


 
